# import(stats, Rcmdr, pls, mixlm)
importFrom(tcltk,tkbutton,ttkcombobox)
import(Rcmdr)
importFrom(pls,plsr)
importFrom(MASS,lda)
importFrom(mixlm,AnovaMix)
exportPattern("^[^\\.]") # Export all except .functions
 